h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
   
    
}

body{
    margin:0;
    padding:0;
    height: 100vh;
}

#particles-js{
    height: 100%;
    background-color: #21C067;
}

#animateTest{

    background-color: #67677C;
    color: white;
    height: 280px;
    width:450px;
    animation-name: animation1;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animation1{
    0%{ transform: translateX(0px)}
    100%{transform: translateX( 500px)}
}

